- @categories.each do |category|
  = link_to category.title, category



  -# %a{href: "{category.title}"}

-# %= link_to 'Show', article_path(article)
  -# %a{href: "mailto: zakary.howard94@gmail.com"

-# %div.grid-content{id: dom_id(category.products.first)}
-# {id: dom_id(category.products.first)}
-# %button
-#     %a{href: ‘category_path’} Fluffiest

-# step{id: "#{step.id}"}