.grid-container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 30px
    justify-content: space-around

.grid-content
    width: 350px
    height: 350px
    border: solid black
    margin: auto

    img 
        width: 350px
        height: 350px
