%h1 Welcome to Cattastic!

%section.container
    %h1 Which is one is the best?
    %div.grid-container
        - @cats.each do |cat|
            .div.grid-content
                = image_tag cat['url']

= render 'partials/categories'